.cart-main {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  width: var(--large-screen-width);
  margin: var(--centering);
  margin-top: 100px;
  gap: 50px;
}

/* grid area */
.product {
  grid-area: product;
}
.price-header {
  grid-area: price-header;
}
.quantity {
  grid-area: quantity;
}
.total {
  grid-area: total;
}

.product-image {
  grid-area: image;
}

.title {
  grid-area: title;
}

.price {
  grid-area: price;
}

.counter {
  grid-area: counter;
}

.total-price {
  grid-area: total-price;
}

.ex {
  grid-area: ex;
}

.static-header {
  display: grid;
  grid-template-columns: 120px 180px 55px 150px 50px 60px;
  grid-template-rows: 15px;
  grid-template-areas: "product . price-header quantity total .";
}

.dynamic {
  display: grid;
  grid-template-columns: 120px 180px 55px 150px 50px 60px;
  grid-template-rows: auto 1px; /* Auto for the content, 20px for the separator */
  grid-row-gap: 5px;
  grid-template-areas: "image title price counter total-price ex";
}

/* CSS Grids content */
.text-style {
  font-size: 0.7em;
  font-weight: var(--font-light);
  color: rgba(225, 225, 225, 0.8);
}

.line-separator {
  position: relative;
  margin: 10px 0;
  grid-column: 1 / -1; /* spans all columns */
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}

.product-image {
  width: 100px;
  height: 90px;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}

.center-align {
  align-self: center;
}

.bold-text-style {
  font-weight: var(--font-regular);
}

.counter {
  padding: 5px 10px;
  border-radius: var(--border-radius-big);
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0px auto;
}

.fa-plus,
.fa-minus {
  font-size: 12px;
  cursor: pointer;
}

.quantity,
.ex {
  text-align: center;
}

.ex {
  width: 30px;
  height: 30px;
  align-content: center;
  border-radius: var(--default-radius);
  justify-self: end;
  font-size: 12px;
  cursor: pointer;
}

.ex:hover {
  background-color: var(--dark-pink);
  border-color: var(--dark-pink);
}

.ex:active {
  background-color: var(--pink);
  border-color: var(--pink);
}

.counter,
.ex,
.order-summary {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.03) 100%
  );
  border: 0.3px solid rgba(255, 255, 255, 0.3);
}

.empty-cart {
  flex-direction: column;
  align-items: center;
  margin: var(--centering);
  color: var(--pink);
  text-align: center;
}

.fa-face-frown {
  font-size: 150px;
  margin-bottom: 30px;
}

.empty-cart h2 {
  font-size: 36px;
}

.disabled {
  background-color: var(--dark-pink);
  cursor: not-allowed;
}

/* Order Summary content */
.order-summary {
  display: flex;
  width: 440px;
  flex-direction: column;
  padding: 30px;
  gap: 35px;
  border-radius: var(--border-radius-big);
}

.order-summary h1 {
  font-size: 1.5em;
  font-weight: var(--font-medium);
}

.order-summary_text {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: var(--font-regular);
}

.faded-text {
  color: rgba(225, 225, 225, 0.5);
}

.bigger-text {
  font-size: 1.2em;
}

.width-100 {
  width: 100%;
}
