/* shipping address and payment */
.main-checkout {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: var(--large-screen-width);
  margin: var(--centering);
  margin-top: 50px;
}

.main-checkout h1 {
  font-size: 2em;
}

.container-divider {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 50px;
}

/* customer info, shipping address and payment section */
.type-area-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: var(--scalable-width);
}

.flexbox-styling {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.flexbox-styling h2 {
  margin: 10px 0px;
  font-weight: var(--font-regular);
}

.type-area-styling {
  background-color: transparent;
  color: white;
  width: var(--scalable-width);
  font-weight: var(--font-regular);
  font-size: 14px;
  padding: 14px 20px;
  border: 1px solid white;
  border-radius: var(--border-radius-big);
}

.width-space {
  width: auto;
}

/* your purchases section, grid-area */
.purchase {
  grid-area: purchase;
}

.product-image {
  grid-area: image;
}
.title {
  grid-area: title;
}
.quantity {
  grid-area: quantity;
}
.total-price {
  grid-area: total-price;
}

/* CSS Grids grid template */
.product-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 130px 150px 80px 80px;
  grid-template-rows: 130px 1px;
  gap: 5px;
  grid-template-areas:
    "image title quantity total-price"
    ". . . .";
}

/* CSS Grids content */
.purchase {
  font-weight: var(--font-light);
  margin-bottom: 10px;
}

.line-separator {
  position: relative;
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
  grid-column: 1 / -1; /* spans all columns */
}

.product-image {
  width: 120px;
  height: 110px;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}

.center-align {
  align-self: center;
}

.bold-text-style {
  font-weight: var(--font-regular);
}

.ex {
  width: 30px;
  height: 30px;
  align-content: center;
  text-align: center;
  border-radius: var(--default-radius);
  justify-self: end;
  font-size: 12px;
}

.ex:hover {
  background-color: var(--dark-pink);
  border-color: var(--dark-pink);
}

.ex:active {
  background-color: var(--pink);
  border-color: var(--pink);
}

.ex,
.order-summary {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.03) 100%
  );
  border: 0.3px solid rgba(255, 255, 255, 0.3);
}

/* order summary */
.order-summary {
  display: flex;
  width: auto;
  flex-direction: column;
  padding: 30px;
  margin-top: 40px;
  gap: 35px;
  border-radius: var(--border-radius-big);
}

.order-summary h3 {
  font-size: 1.5em;
  font-weight: var(--font-medium);
}

.order-summary_text {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: var(--font-regular);
}

.faded-text {
  color: rgba(225, 225, 225, 0.5);
}

.bigger-text {
  font-size: 1.2em;
}

/* payment succesful page */
.payment-successful_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.purchase-complete-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  gap: 20px;
  color: var(--pink);
}

.fa-circle-check {
  font-size: 12em;
}

.purchase-complete-section h1 {
  font-size: 36px;
  font-weight: var(--font-medium);
}

.purchase-complete-section p {
  font-size: 24px;
  font-weight: var(--font-light);
  color: var(--pink);
  width: 300px;
  margin: auto;
}

/* Error messages */
input.error {
  border: 1px solid var(--pink);
}

.form-error-message {
  color: var(--pink);
  font-size: 0.8rem;
  text-align: right;
  font-weight: var(--font-medium);
}
