/* Checkout page media */
@media (max-width: 1570px) {
  .container-divider {
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
  }

  .type-area-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .type-area-styling {
    max-width: auto;
  }

  /* payment successful page media */
  .purchase-complete-section h1 {
    font-size: 32px;
  }

  .purchase-complete-section p {
    font-size: 20px;
  }

  .fa-circle-check {
    font-size: 9em;
  }
}

@media (max-width: 1300px) {
  .main-checkout {
    max-width: 1000px;
    width: var(--smaller-screen-width);
  }
}

@media (max-width: 600px) {
  .container-divider {
    align-items: center;
  }

  .main-checkout h1 {
    font-size: 30px;
    text-align: center;
  }

  .type-area-section {
    flex-direction: column;
  }

  .product-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 110px 100px 50px 50px;
    grid-template-rows: 110px 1px;
  }

  .product-image {
    width: 95px;
    height: 90px;
    object-fit: cover;
    border-radius: var(--border-radius-small);
  }

  /* payment successful page media */
  .purchase-complete-section h1 {
    font-size: 26px;
  }

  .purchase-complete-section p {
    font-size: 16px;
  }
}
