html, body {
    height: 100%; /* html and body takes the full height */
  }
  
  * {
    margin: 0; /* removes default margin for all elements */
    padding: 0; /* removes default padding for alll elements */
    box-sizing: border-box; /* ensures padding and borders are included in the elements width/height */
  }
  
  body {
    background-color: #00011f; /* back up colour */
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat; /* doesnt repeat background */
    background-attachment: fixed; /* stays fixed and doesnt scroll */
    background-size: cover; /* covers the whole screen no matter the resolution */
    font-family: 'alexandria', Helvetica, sans-serif, arial;
    font-weight: 200;
    color: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  input,
  button,
  texteara {
    font-family: inherit; /* buttons and forms will have the same font as the body */
  }
  
  /* navigation menu */
  .hamburger-icon,
  #menu-checkbox,
  .logo-mobile,
  .icon-mobile {
    display: none;
  }

  .navigation {
    position: relative;
    background-color: transparent;
    z-index: 5; /* makes sure its on top of the hero picture and dark overlay */
    display: flex; /* creates a flex container */
    justify-content: space-between; /* spaces items on opposites sides */
    align-items: center; /* centers items within the header */
    padding: 0.5% 5%; /* adds vertical and horizontal padding for spacing */
    position: relative;
  }
  
  .logo img{
    max-height: 60px;
    max-width: 100%;
    height: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 80px;
  }
  
  .nav-links a {
    color: #ffffff;
    text-decoration: none; /* remove underline from links */
    font-size: 1.2em;
    font-weight: 400;
  }
  
  .nav-links a:hover {
    color: #801889;
  }
  
  .nav-links a:active {
    color: #db21cc;
  }

  .current {
    color: #db21cc !important; /* prioritises this colour */
    font-weight: 600 !important;
  }

  /* right side of header */
  #search {
    font-weight: 400;
    font-size: 0.8em;
    padding: 12px 20px;
    border-radius: 30px;
    color: #ffffff;
  }

  .search-icons-section {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .header-icon {
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    color: white;
  }

  .fa-user {
    padding: 10px 13px;
  }

  .header-icon:hover {
    background-color: #801889;
    border-color: #801889;
  }

  .header-icon:active {
    background-color: #db21cc;
    border-color: #db21cc;
  }

  main {
    margin-top: 20px;
  }

  /* button style */
  .button {
    background-color: #130a7d;
    color: white;
    font-size: 1em;
    font-weight: 400;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    cursor: pointer; /* cursor changes to a pointer */
  }

  .button:hover {
    background: linear-gradient(45deg, #db21cc 0%, #130a7d 100%);
  }
  .accent {
    background-color: #801889;
  }

  .button-width {
    width: 100%;
}
  
  /* footer style */
  footer {
    display: flex;
    width: 100%; /* full width of the page, its needed to fix the css grids issue on the body element */
    padding: 50px 5%;
    justify-content: space-between;
    align-items: center;
  }

  .social-media_icon {
    color: #00011f;
    font-size: 20px;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 50%;
    margin-left: 5px;
  }

  .social-media_icon:hover {
    background-color: #801889;
  }

  .social-media_icon:active {
    background-color: #db21cc;
  }

  .fa-instagram {
    padding: 7px 9px;
  }

  .copyright {
    font-size: 0.9em;
  }

  /* shared colors */
  #search,
  .header-icon {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3)0%, rgba(255, 255, 255, 0.03) 100%);
    border: 0.3px solid rgba(255, 255, 255, 0.3);
  }

  
