/* home page media */
@media (max-width: 1800px) {
  .best-sellers {
    max-width: 1000px;
  }

  .game-card {
    height: 200px;
    width: 200px;
  }

  .game-card_image {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1300px) {
  .hero-text h1 {
    font-size: 2em;
  }

  .hero-text {
    align-items: center;
    margin: 300px 0;
  }

  .best-sellers {
    width: var(--smaller-screen-width);
  }

  #email {
    width: 300px;
  }
}

@media (max-width: 950px) {
  .hero-text h1 {
    font-size: 2em;
  }

  .hero-text p {
    font-size: 14px;
    width: var(--scalable-width);
  }

  .hero-text {
    max-width: 350px;
    margin: var(--centering);
    margin-top: 200px;
    margin-bottom: 200px;
    width: var(--mobile-screen-width);
  }

  /* best sellers */
  .best-sellers_text {
    text-align: center;
  }

  .best-sellers_games {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 200px));
    gap: 50px;
  }
}

@media (max-width: 700px) {
  .best-sellers,
  .newsletter-section {
    width: var(--mobile-screen-width);
  }

  .best-sellers_games {
    gap: 20px;
  }

  /* newsletter section */
  .newsletter-section {
    margin: 10% auto;
    max-width: 450px;
    padding: 40px;
  }

  .newsletter-section h3 {
    font-size: 1.8em;
  }

  .newsletter-section_type {
    flex-direction: column;
    align-items: center;
  }

  #email {
    width: 250px;
  }
}

@media (max-width: 480px) {
  .best-sellers {
    max-width: 320px;
  }

  .best-sellers_games {
    display: flex;
    flex-direction: column;
    width: var(--scalable-width);
  }

  .game-card {
    height: 320px;
    width: var(--scalable-width);
  }

  .game-card_image {
    width: var(--scalable-width);
    height: 320px;
  }
}
