/* hero section */
.hero-section {
  background-image: url(../assets/images/hero-image.jpg); /* background image */
  background-size: cover; /* make sure the image covers the entire section */
  background-repeat: no-repeat;
  background-position: center; /* centers the image */
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative; /* keeps the section in normal flow */
}

.hero-section::before {
  content: ""; /* necessary for pseudo-elements */
  position: absolute; /* position it on top */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 50% black */
  z-index: 1;
} 

.hero-text {
  display: flex; /* flexbox */
  flex-direction: column; /* stack text vertically */
  align-items: center; /* center text horizintally */
  text-align: center; /* center text */
  margin: 15%;
  z-index: 2;
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1em;
  font-weight: 300;
  width: 50%;
  margin-bottom: 20px;
}

/* best sellers section */
.best-sellers {
  margin: 2% 5%;
}

.best-sellers_text {
  margin-bottom: 3%;
  font-weight: 400;
  font-size: 2rem;
}

.best-sellers_games img {
  width: 16vw; /* image width scales based on the viewport width */
  height: 16vw; /* height matches width to maintain the square shape */
  object-fit: cover; /* crops the image to the size */
  border-radius: 7%;
}

.best-sellers_games {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* newsletter section */
.newsletter-section {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.3)0%, rgba(255, 255, 255, 0.03) 100%); /* "45deg": angle for the gradient, (255, 255, 255, 0.3): 30% white "0%" starts on one end "100%" ends in the other */
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  padding: 50px;
  margin: 5% auto;
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1;
}

.newsletter-section h3 {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 500;
  color: #db21cc;
}

.newsletter-section_type {
  display: flex;
  margin: 30px 0px;
  gap: 10px;
}


#email {
  width: 400px;
  font-weight: 400;
  font-size: 0.8em;
  padding: 14px 20px;
  border: none;
  border-radius: 30px;
}

.faded-text {
  color: rgba(255, 255, 255, 0.6);
}