#username,
#password {
    background-color: transparent;
    color: #ffffff;
    width: 300px;
    font-weight: 400;
    font-size: 0.8em;
    padding: 14px 20px;
    border: 1px solid white;
    border-radius: 30px;
}

.login-section {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 15vh auto;
    gap: 10px;
}

.login-section h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.login-button {
    margin-top: 20px;
}